@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #F6F7FB;
}
